<div>
  <h1>Bienvenido {{rol}} : {{name}} {{lastname}} </h1>
  <button id="btnLogout" class="btn btn-dark">Cerrar Sesion</button>
  <button id="goToCart" class="btn btn-dark">Ir al carrito</button>
</div>
<h2>Lista de productos: </h2>
<div class="d-flex justify-content-around">
  {{#each products}}

    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src={{this.thumbnail}} alt={{this.title}} />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text"><strong>${{this.price}}</strong></p>
        <button id="btnCompra-{{this.id}}" class="btn btn-dark">COMPRAR</button>
      </div>
    </div>
  {{/each}}
</div>
<script src="/js/index.js"></script>
<script src="/js/logout.js"></script>