<div>
  <h1>Lista de productos: </h1>
</div>

{{#each products}}
  <div>
    <h2>{{this.title}}</h2>
    <img src={{this.thumbnail}} alt={{this.title}} />
    <p>Sku: {{this.code}}</p>
    <p>Descripcion: {{this.description}}</p>
    <p><strong>Precio: ${{this.price}}</strong></p>
    <p>Cantidad disponible: {{this.stock}}</p>
  </div>

{{/each}}

<script src="/js/index.js"></script>
